/* Testato per risoluzione 450x844 */
/* Ho fatto un errore e non ho avuto il tempo di correggerlo, ho creato un div bordo che però mi ha compromesso alcune operazioni successive, ad esempio le immagini di background messe a centro pagina e il footer finale che avevano sfondi grandi l'intera width. Avrei dovuto gestire diversamente il tutto senza creare un div bordo generale */

body {
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.bordo {
    width: 80%;
    margin: 10%;
}

.sfondo-header {
    background-image: url(../images/banner.jpg);
    background-size: cover;
}

.sfondo-header p {
    width: 80%;
    margin: 0 auto;
}

.logo {
    background-color: black;
    height: 8vh;
    padding: 2rem;
}

#logo-epicode {
    width: 50%;
}

h1 {
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    line-height: 1;
}

#sfondo-orange h1 {
    color: white;
}

button {
    font-family: 'Montserrat', sans-serif;
    background-color: #f04c2f;
    font-weight: bold;
    margin: 2rem;
    padding: 0.8rem 1.8rem;
    color: white;
    border-radius: 5px;
    border: none;
}

img {
    width: 100%;
}

p {
    color: #393d41;
    font-size: 1.2rem;
    line-height: 1.65;
    padding-bottom: 1em;   
}

h2 {
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 1;
    padding: 1.2rem;
    font-size: 1.4rem;
}

h3 {
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 1;
    padding: 1.2rem;
    font-size: 1.2rem;
}

h4 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    line-height: 1;
}

.image1 {
    width: 80%;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
    margin: 1.2rem;
}

#sfondo-orange {
    background-color: #f8320afa;
    width: 100vw;
    margin-left: -10vw;
}

blockquote {
    color: white;
    font-style: oblique;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

.mario {
    color: white;
    font-size: 1.5rem;
}

.citazione {
    font-size: 1rem;
}

.inizio-foto {
    margin-top: 4rem;
    border: 1px solid #dee1e3;
    margin-bottom: 2rem;
    border-radius: 5px;
    overflow: hidden;
}

.inizio-foto p {
    padding-left: 15%;
    padding-right: 15%;
}

footer {
    background-color: #25a2c3;
    width: 100vw;
    margin-left: -10vw;
    margin-bottom: -10vh;
    margin-top: 5rem;
}

address {
    color: white;
    line-height: 2;
}

a {
    color: white;
    padding-left: 3px;
}

hr {
    width: 240px;
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

footer p {
    color: white;
}